<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">

    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end }}

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">

    <title>{{ .Title }}</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

{{ partial "opengraph.html" . }}
{{ partial "favicon.html" . }}
{{ partial "googleanalytics.html" . }}

    <style>
        {{ partial "style.html" . | safeCSS }}
    </style>

</head>
<body>
    {{ partial "heading.html" . }}
