{{ partial "header.amp.html" . -}}

    {{- $paginator := .Paginate (where .Data.Pages "Type" "post") 5 }}

    <main>
        <header>
          <h1 class="title">{{ if not $paginator.HasPrev }}Latest Posts{{ else }}Previous Posts{{ end }}</h1>
        </header>

        {{- range $paginator.Pages }}

        {{ $amp := .OutputFormats.Get "amp" }}

        <article class="article-item">
          <header>
            <h1><a href="{{ $amp.RelPermalink }}">{{ .Title }}</a></h1>
            <p><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
          </header>
          {{- if .Summary }}
          <section>
            {{ .Summary }}
          </section>
          {{- end }}
          {{- if .Truncated }}
          <footer>
            <a href="{{ $amp.RelPermalink }}">Read more...</a>
          </footer>
          {{- end }}
        </article>
        {{- end }}

        <footer>
        {{- partial "nextprevious.html" . }}
        </footer>
    </main>

{{ partial "footer.amp.html" . -}}
